{% extends "template.html" %}
{% block content %}

	<h1>Welcome to FlaskTaskr</h1>
	<h3>Please login to access your task list</h3>
	<form class ='form-signin' role='form' method='POST' action='/'>
		
		<div class='lead'>Please sign in to access your task list</div>
	
		{{ form.name.label }}: {{ form.name }} &nbsp;&nbsp; 
			{{ form.password.label }}: {{ form.password }} &nbsp;&nbsp;


		<!--Username: <input type='text' name='username' value="{{ request.form.username }}">
		Password: <input type='password' name='password' value="{{ request.form.password }}">
		-->

		<button class="btn btn-lg btnprimary" type='submit'>Sign in</button>
		<br>
		<br>
	
		<p><em>Need an account? </em><a href="/register">Signup!</a></p>

	</form>

{% endblock %}

<!-- look how about to cry all those men are -->
